nav ul {
	margin: 0; /*Nu bijft de bar aan de bovenkant, anders springt het naar beneden*/
	display: inline-block; /*Zorgt ervoor dat de opsomming achter elkaar komt (inline) maar het toch de eigenschappen behoud van een blok(breedte en hoogte aanpasbaar)*/
	text-align: center;
	list-style: none; /*Verwijderd de opsommingstekens*/
	background-color: #868686;
	width: 100%;
	height: 80px;
	position: fixed; /*Nu blijft de bar vast zitten aan de bovenkant. Met de postitie 0 aan links en top.*/
	top: 0; /*Er moet nog wel een positie toegewezen worden*/
	left: 0;
	box-shadow: 0 10px 8px #777777;
}

nav li {
	display: inline-block;
	border-right: 1px;
	padding: 20px;
}

nav li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 25px;
	display: block; /*Ik wil van de link een blok maken zodat je op de blok kan klikken */
	padding: 10px 15px;
	text-decoration: none; /*Verwijderd de underlines*/
	color: white;
}

nav li a:hover {
	transition: 0.2s;
	border-radius: 4px;
	color: white;
	background-color: black;
	box-shadow: 10px 0px 8px #666666;
	padding: 40px 35px 30px;
	margin: -30px -20px;/*Omdat anders de blok, het element waar het in zit, te groot wordt. Het moet gelijk zijn*/
}

#active {
	background-color: #def6ed;
	border-radius: 4px;
	padding: 30px 20px 20px;
	margin: -10px 0; /*Omdat anders de blok, het element waar het in zit, te groot wordt. Het moet gelijk zijn*/
	box-shadow: 10px 0px 8px #666666;
}

#active a {
	color: black;
}

#active a:hover {
	color: white;
}

#content {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 26px;
	width: 1050px;
	margin: 0 auto;
}


h1 {
	font-size: 36px;
	line-height: 36px; 
	margin: 110px 40px 40px;
}


#preface {
	font-size: 24px;
	line-height: 32px;
	margin: 40px;
}

h2 {
	font-size:32px;
	line-height: 32px;
	margin: 40px;

}

ul#necessities { 
	list-style-type: disc; 
	margin: 40px;
}

ul#necessities li { 
	margin: 10px;
}

ol#recipe { /*50px want op de voorbeeld staan de cijfers gelijk  aan de opsomming er boven*/
	margin: 40px 50px 20px;
}

ol#recipe li { 
	margin: 20px 0 20px;
}

img {
	margin-left: 40px;
}

p#footnote {
	margin: 40px;
	background-color: #def6ed;
	border-radius: 4px;
	padding: 25px;
}

p#footnote #tip {
	font-weight: bold;
}
