body{
	font-family: 'Roboto', sans-serif;
}
#maintitle{
	font-size: 36px;
	line-height: 36px;
	padding: 40px;
	margin-left: -40px;
}
.title{
	font-size: 32px;
	line-height: 32px;
	padding: 40px;
	margin-left: -40px;
}
#p1{
	font-size: 24px;
	line-height: 32px;
	margin: 40px;
}
div{
	align-content: center;
	margin: 0 auto;
	width: 60%
	
}
.ingr{
	margin: 10px;
	font-size: 20px;
	line-height: 26px;
}
.bw li{
	padding: 20px;
	font-size: 20px;
	line-height: 26px;
	margin-left: 20px;
}

#gehakt-img{
	height:450px; width:450px;
}
#tip{
	background-color: #def6ed;
	padding: 25px;
	border-radius: 4px;
}
.active {
    background-color: #bae0e7;
}
.navul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fed975;
}
.navul li{
	float: left;
}
li a:hover{
    background-color: #84bcb7;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#bolt{
	font-weight: bold;
}