body{
	font-family: Roboto, ;
	background-color:solid white
}
hr{
	line-height: 40px;
}
.center{
	margin: 0 auto;
	width: 60%;
}
.HeightImage{
	line-height:40px;
}

.MainHeader{
	font-size: 36px;
	line-height: 36px;
}
.Header{
	font-size: 32px;
	line-height: 32px;
}
.Paragraph{
	font-size: 24px;
	line-height: 32px;
}
.ParagraphSecundair{
	font-size: 20px;
}
.ParagraphTertiair{
	font-size: 20px;
	line-height: 26px;	
}
.DeTip{
	background-color: #def6ed;
	padding: 25px;
}
#SideBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: left;
}
li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active{
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active){
    background-color: #555;
    color: white;
}